[class*="bg__"] {
  height: 100vh;

  /*text-indent: -9999px;*/

  /* fix background */
  background-attachment: fixed;

  /* center it */
  background-position: center center;

  /* Scale it nicely to the element */
  background-size: cover;

  /* just make it look a bit better ;) */
  &:nth-child(2n) {
    box-shadow: inset 0 0 1em #111;
  }
}

.bg__foo {
  background-image: url(../Images/bg1.jpg);
}

.bg__bar {
  background-image: url(../Images/bg2.jpg);
}

.bg__baz {
  background-image: url(../Images/bg3.jpg);
}

.bg__bazz {
  

  background-image: url(../Images/bg4.jpg);
}